{% set use_version = version or '1.0' %}
{% set use_image = image or 'totem/totem-base:trusty' %}
{% set container_name = name+'-'+use_version+'-%i' %}

[Unit]
Description={{ name }}-{{ version }}@%i Application

[Service]
Restart=always
RestartSec=20s
TimeoutStartSec=20m
ExecStartPre=/usr/bin/docker pull {{ use_image }}
ExecStartPre=/bin/sh -xc "docker inspect {{ container_name }} 1>/dev/null 2>&1 && docker rm -f {{ container_name }} || true"
ExecStart=/bin/sh -xc "/usr/bin/docker run -h {{ container_name }} {{ docker_args| default('') }} -P  --rm  {{ docker_env| default('') }} \
          -e DISCOVER_APP_NAME={{ name }} -e DISCOVER_APP_VERSION={{ use_version }} \
          -e DISCOVER_NODE_NAME={{ container_name }} -e DISCOVER_NODE_NUMBER=%i \
          --name {{ container_name }} {{ use_image }} {{ docker_cmd }}"
ExecStop=/bin/sh -xc "docker inspect {{ container_name }} 1>/dev/null 2>&1 && docker rm -f {{ container_name }} || true"

[X-Fleet]
Conflicts={name}-{version}@*.service