{%- set version = version or '1.0' %}
{%- set service = service or {} -%}
{%- set is_global = is_global or False -%}
{%- set machine_of = machine_of or '' %}
{%- set is_sticky = is_sticky or False -%}
{%- set after = after or '' %}
{%- set requires = requires or '' %}

[Unit]
Description={{ name }}-{{ version }}-app@%i Timer
After=docker.service {{ after }}
Requires=docker.service {{ requires }}

[Timer]
OnCalendar={{ service['schedule'] or  '17:00' }}
Persistent=true

[X-Fleet]

{% if is_global %}
Global=true
{% else %}
MachineOf={{ name }}-{{ version }}-app@%i.service
{% endif %}
