{%- set version = version or '1.0' %}
{%- set service = service or {} -%}
{%- set image = image or 'totem/totem-base:trusty' -%}
{%- set container_name = container_name or name+'-'+version+'-app-%i'-%}
{%- set hostname = hostname or container_name -%}
{%- set environment = environment or {} -%}
{%- set sidekicks = sidekicks or () -%}

{% block unit %}
[Unit]
Description={{ name }}-{{ version }}-app@%i Application
Requires=docker.service {% for sidekick in sidekicks %}{{name+'-'+version+'-'+sidekick+'@%i.service '}}{% endfor %}
{%- endblock -%}

{% block service %}
[Service]
Restart={{ service['restart'] | default('always') }}
RestartSec={{ service['restart-sec'] | default('20s') }}
TimeoutStartSec={{ service['timeout-start-sec'] | default('20m') }}
TimeoutStopSec={{ service['timeout-stop-sec'] | default('2m') }}
ExecStartPre=/usr/bin/docker pull {{ image }}
ExecStartPre=/bin/sh -xc "docker inspect {{ container_name }} 1>/dev/null 2>&1 && docker stop {{ container_name }} && \
             sleep 10s && docker rm -f {{ container_name }} && sleep 10s || true"
ExecStart=/bin/sh -xc "/usr/bin/docker run -h {{ hostname }} {{ docker_args }} -P  --rm  \
          {% for env_name, env_value in environment.iteritems() %} -e {{ env_name }}='{{ env_value | replace('"', '\\"') }}'{% endfor %} \
          -e HOST_IP=$(hostname -i) \
          -e DISCOVER_APP_NAME={{ name }} -e DISCOVER_APP_VERSION={{ version }} \
          -e DISCOVER_NODE_NAME={{ container_name }} -e DISCOVER_NODE_NUMBER=%i \
          --name {{ container_name }} {{ image }} {{ command }}"
ExecStop=/bin/sh -xc "docker inspect {{ container_name }} 1>/dev/null 2>&1 && docker rm -f {{ container_name }} || true"
{%- endblock -%}

{% block xfleet %}
[X-Fleet]
Conflicts={{ name }}-{{ version }}-app@*.service
{%- endblock -%}