{%- set service = service or {} -%}
{%- set version = version or '1.0' %}
{%- set name = name or 'fleet-reload-hack' %}
{%- set log_identifier = log_identifier or name+'.'+version+'.%i.app'-%}

[Unit]
Description={{name}}-{{version}}-app@%i
Requires=fleet.service

[Service]
SyslogIdentifier={{ log_identifier }}
Restart={{ service['restart'] | default('always') }}
RestartSec={{ service['restart-sec'] | default('20s') }}
TimeoutStartSec={{ service['timeout-start-sec'] | default('1m') }}
TimeoutStopSec={{ service['timeout-stop-sec'] | default('1m') }}
ExecStart=/bin/sh -c "while true; do \
for unit in $(fleetctl list-units | grep -e '.*inactive.*dead' |  grep -v {{name}} | awk '{print $1}'); do fleetctl stop $unit && fleetctl start $unit; done; \
sleep {{ service['poll-interval'] | default('120s') }}; done "

[X-Fleet]
Conflicts={{name}}-{{version}}-app@%i.service
