{%- set service = service or {} -%}
{%- set version = version or '1.0' %}
{%- set name = name or 'systemd-journal-remote' %}
{%- set etcd_log_base = '/totem/logs' -%}
{%- set log_identifier = log_identifier or name+'.'+version+'.%i.app'-%}

[Unit]
Description=Send Journalctl to central logger

[Service]
SyslogIdentifier={{ log_identifier }}
TimeoutStartSec=0
ExecStart=/bin/sh -c "/usr/bin/journalctl -o json -f | /usr/bin/ncat \
          $(etcdctl get   {{etcd_log_base}}/host) $(etcdctl get {{etcd_log_base}}/port)"

Restart={{ service['restart'] | default('always') }}
RestartSec={{ service['restart-sec'] | default('20s') }}

[Install]
WantedBy=multi-user.target
Global=true