{%- set version = version or '1.0' %}
{%- set image = image or 'totem/yoda-discover' -%}
{%- set container_name = name+'-'+version+'-'+service_type+'-%i' -%}
{%- set command = command or 'discover.yoda_presence \
        --node-name=$(cat /etc/machine-id) ec2:meta-data:public-hostname  \
        --etcd-host=${COREOS_PRIVATE_IPV4} ' -%}
{%- set environment = environment or {} -%}
{%- extends "default-app.service" -%}

{% block unit %}
[Unit]
Description=Register yoda proxy node with route53
BindsTo={{ name }}-{{ version }}-app@%i.service
ReloadPropagatedFrom={{ name }}-{{ version }}-app@%i.service
{%- endblock -%}

{% block xfleet %}
[X-Fleet]
MachineOf={{ name }}-{{ version }}-app@%i.service
{%- endblock -%}
