{%- set version = version or '1.0' %}
{%- set image = image or 'totem/yoda-discover' -%}
{%- set container_name = name+'-'+service_type+'-'+version+'-%i' -%}
{%- set command = command or 'discover.yoda_presence --node-name=' + container_name + ' ec2:meta-data:public-hostname' -%}
{%- set environment = environment or {} -%}
{%- extends "default-app.service" -%}

{% block unit %}
[Unit]
Description=Register yoda proxy node with route53
BindsTo={{ name }}-{{ version }}@%i.service
{%- endblock -%}

{% block xfleet %}
[X-Fleet]
MachineOf={{ name }}-{{ version }}@%i.service
{%- endblock -%}