{%- set version = version or '1.0' %}
{%- set image = image or 'totem/yoda-discover:develop' -%}
{%- set container_name = name+'-'+version+'-'+service_type+'-%i' -%}
{%- set docker_args = docker_args or '-v /var/run/docker.sock:/var/run/docker.sock' -%}
{%- set proxy_host = proxy_host or '${COREOS_PRIVATE_IPV4}' -%}
{%- set command = command or 'discover.yoda_register \
        --docker-url=unix://var/run/docker.sock \
        --etcd-host=${COREOS_PRIVATE_IPV4} \
        --service-name='+name+'-'+version+'-app@%i.service \
        --unit-no=%i \
        --proxy-host='+proxy_host+' '+name +'-' +version+'-app-%i' -%}
{%- set environment = environment or {} -%}
{%- set log_identifier = log_identifier or name+'.'+version+'.%i.yoda-register'-%}
{%- extends "default-app.service" -%}

{% block unit %}
[Unit]
Description=Register application with yoda proxy
BindsTo={{ name }}-{{ version }}-app@%i.service
ReloadPropagatedFrom={{ name }}-{{ version }}-app@%i.service
Requires=docker.service
After=docker.service
{%- endblock -%}

{% block xfleet %}
[X-Fleet]
MachineOf={{ name }}-{{ version }}-app@%i.service
{%- endblock -%}
